.about-section{
 height: auto;
 display:flex;
 position: relative;
 
}

.about-section > .picture-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    position: sticky;
    top: 0;
}
.picture-container-inside{
    display: none;
}

.about-section > .picture-container> img{
    width: 40em;
    border: solid 8px var(--color-lightred);
    border-radius: 8px;
}
.my-info-container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.my-info-container> h3{
    font-size: var(--font-size-m);
    text-align: center;
    
}

.my-info-container> p{
    width: 80%;
    padding: 3em;
    font-size: var(--font-size-s);
    text-align: justify;
    text-indent: 1em;
    font-family: var(--font-style1);
}
.light-background-p{
    background-color: var(--color-lightgray);
}
.dark-background-p{
    background-color: var(--color-dark);
}
.myBackground-container{
    width: 80%;
}
.header{
    font-size: var(--font-size-l);
    margin-top: 0.5em;
}
.timeline, .company, .position, .time-frame{
    letter-spacing: 3px;
}
.timeline{
    border-left: solid 3px var(--color-lightred);
    padding: 1em;
}

.company{
    font-size: var(--font-size-m);
    margin-top:2em;
}
.timeline .first-p{
    margin-top: 0.5em;

}

.position{
    font-size: var(--font-size-s);    
}
.time-frame{
    font-size: 1.2em;

}
.skills-container{
    height: 45em;
    width: 80%;
    border: solid 3px var(--color-lightred);
    margin-bottom: 15em;
}
ul.skills-list{
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em;
    gap: 1em;
    font-family: var(--font-style1);
    font-weight: 600;
}
ul.skills-list > li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 3em;
  flex-grow: 1;
  background-color: var(--color-lightred);
  color: var(--color-light);
}
ul.skills-list > li > .skills-icon{
    display: flex;
    align-items: center;
    font-size: 2em;
    margin-right: 8px;
}


@media (min-width:360px) and (max-width:820px){
   
    .about-section > .picture-container{
        display: none;
    }
    .my-info-container{
        margin: auto;
        padding: 1em;

    }
    .my-info-container > p{
        width: 100%;
        margin: auto;
    }
    .my-info-container> h2{
        margin-top: 0;
    }
    .my-info-container> h3{
        font-size: var(--font-size-l);
       
    }
    .picture-container-inside{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50em;
        padding: 4em;
    }
    .picture-container-inside> img{
        height: 40em;
        border: solid 8px var(--color-lightred);
        border: 8px;
    }
    .my-info-container, .myBackground-container{
        width: 90%;
    }
    .skills-container{
        width: 70em;
        margin-bottom: 0;
    }
    ul.skills-list > li {
        font-size: var(--font-size-s);
    }
   
}

